@font-face {
  font-family: "Gibson-LightIt";
  src: url("../webfonts/2D7FB2_0_0.eot");
  src: url("../webfonts/2D7FB2_0_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/2D7FB2_0_0.woff2") format("woff2"),
    url("../webfonts/2D7FB2_0_0.woff") format("woff"),
    url("../webfonts/2D7FB2_0_0.ttf") format("truetype");
}
@font-face {
  font-family: "Gibson-BoldItalic";
  src: url("../webfonts/2D7FB2_1_0.eot");
  src: url("../webfonts/2D7FB2_1_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/2D7FB2_1_0.woff2") format("woff2"),
    url("../webfonts/2D7FB2_1_0.woff") format("woff"),
    url("../webfonts/2D7FB2_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "Gibson-Bold";
  src: url("../webfonts/2D7FB2_3_0.eot");
  src: url("../webfonts/2D7FB2_3_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/2D7FB2_3_0.woff2") format("woff2"),
    url("../webfonts/2D7FB2_3_0.woff") format("woff"),
    url("../webfonts/2D7FB2_3_0.ttf") format("truetype");
}
@font-face {
  font-family: "Gibson-Regular";
  src: url("../webfonts/2D7FB2_4_0.eot");
  src: url("../webfonts/2D7FB2_4_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/2D7FB2_4_0.woff2") format("woff2"),
    url("../webfonts/2D7FB2_4_0.woff") format("woff"),
    url("../webfonts/2D7FB2_4_0.ttf") format("truetype");
}
@font-face {
  font-family: "Gibson-SemiBold";
  src: url("../webfonts/2D7FB2_5_0.eot");
  src: url("../webfonts/2D7FB2_5_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/2D7FB2_5_0.woff2") format("woff2"),
    url("../webfonts/2D7FB2_5_0.woff") format("woff"),
    url("../webfonts/2D7FB2_5_0.ttf") format("truetype");
}
@font-face {
  font-family: "Gibson-Italic";
  src: url("../webfonts/2D7FB2_6_0.eot");
  src: url("../webfonts/2D7FB2_6_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/2D7FB2_6_0.woff2") format("woff2"),
    url("../webfonts/2D7FB2_6_0.woff") format("woff"),
    url("../webfonts/2D7FB2_6_0.ttf") format("truetype");
}
@font-face {
  font-family: "Gibson-Light";
  src: url("../webfonts/2D7FB2_7_0.eot");
  src: url("../webfonts/2D7FB2_7_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/2D7FB2_7_0.woff2") format("woff2"),
    url("../webfonts/2D7FB2_7_0.woff") format("woff"),
    url("../webfonts/2D7FB2_7_0.ttf") format("truetype");
}

@font-face {
  font-family: "Charter";
  src: local("Charter"),
    url("../webfonts/charter/charter_regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: "Charter";
  src: local("Charter Italic"),
    url("../webfonts/charter/charter_italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: "Charter";
  src: local("Charter Bold"),
    url("../webfonts/charter/charter_bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: "Charter";
  src: local("Charter Bold Italic"),
    url("../webfonts/charter/charter_bold_italic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;

  font-family: "Gibson-Light";
  font-size: 18px;
  font-weight: 500;
  color: #fff;

  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
  user-select: None;
}

/* 
img {
  display: none !important;
} */
.container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.static {
  display: block !important;
}

.alice {
  margin-top: 500px;
  margin: 200px auto;
  text-align: center;
}

.alice img {
  width: 400px;
  margin: 0 auto;
}
/* SCROLLBAR REMOVE */

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

/* Optional:  scrollbar unten
::-webkit-scrollbar-thumb {
  background: #fff;
} */

/* SCROLLBAR REMOVE CLOSE */

/* NAVIGATION OPEN */

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 200;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    hsla(0, 0%, 0%, 0.9) 0%,
    hsla(0, 0%, 0%, 0.738) 19%,
    hsla(0, 0%, 0%, 0.541) 34%,
    hsla(0, 0%, 0%, 0.382) 47%,
    hsla(0, 0%, 0%, 0.278) 56.5%,
    hsla(0, 0%, 0%, 0.194) 65%,
    hsla(0, 0%, 0%, 0.126) 73%,
    hsla(0, 0%, 0%, 0.075) 80.2%,
    hsla(0, 0%, 0%, 0.042) 86.1%,
    hsla(0, 0%, 0%, 0.021) 91%,
    hsla(0, 0%, 0%, 0.008) 95.2%,
    hsla(0, 0%, 0%, 0.002) 98.2%,
    hsla(0, 0%, 0%, 0) 100%
  );
  
  padding-bottom: 100px;
}

.menu_left img {
  margin: 50px;
  width: 65px;
  height: auto;
}

.menu_right a {
  display: block;
  float: left;
  margin: 50px;
  font-size: 2.5rem;
  color: rgb(141, 141, 141);
  text-shadow: 0px 0px 100px rgba(0,0,0,1);
}

.menu_right a:hover,
.menu_right a.activ {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* NAVIGATION CLOSE*/

/* MAIN CONTENT AREA - SCROLLABLE AREA */

main {
  position: absolute;
  top: 150px;
  width: 100%;
  height: auto;
  padding: 0px 100px;
}

.gardient {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100vh;
  z-index: 100;
 background: linear-gradient( 90deg,
    hsla(0, 0%, 0%, 0.9) 0%,
    hsla(0, 0%, 0%, 0.738) 19%,
    hsla(0, 0%, 0%, 0.541) 34%,
    hsla(0, 0%, 0%, 0.382) 47%,
    hsla(0, 0%, 0%, 0.278) 56.5%,
    hsla(0, 0%, 0%, 0.194) 65%,
    hsla(0, 0%, 0%, 0.126) 73%,
    hsla(0, 0%, 0%, 0.075) 80.2%,
    hsla(0, 0%, 0%, 0.042) 86.1%,
    hsla(0, 0%, 0%, 0.021) 91%,
    hsla(0, 0%, 0%, 0.008) 95.2%,
    hsla(0, 0%, 0%, 0.002) 98.2%,
    hsla(0, 0%, 0%, 0) 100%
  );
}

.right {
  position: fixed;
  left: auto;
  right: 0px;
  background: linear-gradient( -90deg,
    hsla(0, 0%, 0%, 0.9) 0%,
    hsla(0, 0%, 0%, 0.738) 19%,
    hsla(0, 0%, 0%, 0.541) 34%,
    hsla(0, 0%, 0%, 0.382) 47%,
    hsla(0, 0%, 0%, 0.278) 56.5%,
    hsla(0, 0%, 0%, 0.194) 65%,
    hsla(0, 0%, 0%, 0.126) 73%,
    hsla(0, 0%, 0%, 0.075) 80.2%,
    hsla(0, 0%, 0%, 0.042) 86.1%,
    hsla(0, 0%, 0%, 0.021) 91%,
    hsla(0, 0%, 0%, 0.008) 95.2%,
    hsla(0, 0%, 0%, 0.002) 98.2%,
    hsla(0, 0%, 0%, 0) 100%
  );
}

.scrollable {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  padding-left: 75px;
}

.change-log {
  margin: 200px;
}

/*  MAIN CLOSE  */
.scrollable .item {
  margin-left: -300px;
}

.scrollable .item:first-of-type {
  margin-left: 0px;
}

.scrollable .item:nth-of-type(2n) {
  padding-top: 500px;
}

.first-large {
  height: calc(100vh - 150px * 2);
}

.first-large .item:nth-of-type(2n) {
  padding-top: 570px;
}

.first-large .item:first-of-type {
  width: 3000px;
  margin-right: 500px;
  z-index: 3000;
  align-self: center;
}
.first-large .item:first-of-type .item_preview {
  margin: 0px;
  height: 1000px;
}

.first-large .item:first-of-type .item_description {
  left: 775px;
  width: 500px;
  top: 50px;
}

.first-large .item:first-of-type img {
  width: initial;
  height: 1000px;
}

/* Index */

.intro-stage-link {
  position: fixed;
  display: block;
  min-width: 100vw;
  height: 100vh;
  right: 0px;
  left: 0px;
  top: 0px;
  z-index: 2000;
  overflow: hidden;
}

.intro-stage {
  position: fixed;
  width: 750px;
  padding-left: 100px;
  top: 0px;
  height: 100%;
  z-index: 250;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-stage h1 {
  margin-top: 20px;
  font-size: 2.8rem;
  line-height: 3.2rem;
}


.intro-stage p {
  margin-top: 20px;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.no-scroll {
  position: fixed;
  display: block;
  min-width: 100vw;
  height: 100vh;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.intro-stage-background {
  position: fixed;
  top: calc(50vh - 900px / 2);
  left: -350px;
  width: 1300px;
  height: 900px;
  z-index: 190;
  background: radial-gradient(
      ellipse farthest-side,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    no-repeat;
}

@keyframes autoscroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-7000px);
  }
  100% {
    transform: translateX(0);
  }
}



/* Impressum */

.impressum-link{
  display: block;
  position: fixed;
  bottom: 75px;
  left: 125px;
  font-size: 1.4rem;
  opacity: 0.7;
  z-index: 2000;
  padding: 50px;
}
.impressum-link:focus{
  text-decoration: none;
}
.impressum{
  position: relative;
  width: 820px;
  z-index: 101;
  padding-top: 100px;
  margin-left: 100px;
}

.impressum p{
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.impressum p b{
  font-family: "Gibson-Regular";

}

.impressum h1{
  margin-bottom: 70px !important;
}

.impressum h2{
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-family: "Gibson-Regular";

}

.logos-container{
  position: absolute;
  right: 200px;
  top: 70px;
  z-index: 101;
  display: flex;
  justify-content: center;
}

.logo{
  height: 100px;
  margin: 25px;
}
.qrcode{
  height: 300px;
  margin-left: -80px;
}

.scrollable-index {
  width: calc(800px * 13);
  position: absolute;
  top: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transform: translateX(0);
  padding-left: 500px;
  animation-duration: calc(10 * 60s);
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: autoscroll;
}

.scrollable-index:hover {
  animation-play-state: paused;
}

.scrollable-index .item {
  width: 800px;
}

.scrollable-index .item:nth-of-type(13) {
  margin-left: 450px;
}

.scrollable-index .item:nth-of-type(24) {
  margin-left: 100px;
}

.scrollable-index .item:nth-of-type(36) {
  margin-left: 400px;
}

/* Item Style auf INDEX */

.scrollable-index .item_preview {
  width: 800px; /* Breite von einem element! */
  margin: 0px;
}
.scrollable-index .item_preview img {
  height: 240px;
  width: auto;
}

.scrollable-index .small-icon {
  margin-top: 3px;
  width: 20px !important;
}
.scrollable-index .item_description {
  left: 0px;
  top: 250px;
}
.scrollable-index .item_description h2 {
  font-size: 1rem;
}
.scrollable-index h4 {
  font-size: 0.7rem;
  line-height: 1.3rem;
}

.scrollable-index h2 {
  font-size: 0.8rem;
  line-height: 1.3rem;
  margin-top: 0px;
}

.button {
  display: inline-block;
  letter-spacing: 1px;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 1px solid #fff;
  width: 350px;
  font-size: 1.3rem;
}

/* INDEX END */

.item_preview {
  position: relative;
  margin: 150px 50px;
  width: 750px;
  height: 300px;
  display: flex;
}

.item_preview .bildnachweis{
  margin-bottom: -30px;
  display: block;
}

.item_preview img {
  width: 300px;
  position: absolute;
  max-height: 420px;

  left: 0px;
  top: 0px;
  -webkit-filter: drop-shadow(0px 0px 45px rgba(0, 0, 0, 0.35));
  filter: drop-shadow(0px 0px 45px rgba(0, 0, 0, 0.35));
}


.item_preview img:first-of-type {
  max-height: none;


}
.item_preview img:first-of-type {
  z-index: 5;
  left: 0px;
  top: 0px;
}

.item_preview img:nth-of-type(2) {
  z-index: 4;
  left: -20px;
  top: -20px;
}

.item_preview img:nth-of-type(3) {
  z-index: 3;
  left: -40px;
  top: -40px;
}
.item_preview img:nth-of-type(4) {
  z-index: 2;
  left: -60px;
  top: -60px;
}

.item_preview img:nth-of-type(5) {
  z-index: 1;
  left: -80px;
  top: -80px;
}

.item_preview img:nth-of-type(6),
.item_preview img:nth-of-type(7),
.item_preview img:nth-of-type(8) {
  display: none;
}

.item_description {
  position: absolute;
  top: 75px;
  left: 320px;
  display: block;
  clear: both;
}

.item_description h2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
}
.item_description p {
  font-size: 0.95rem;
  line-height: 1.3rem;
}

.item_description div {
  margin-bottom: 5px;
}

/*  TIMELINE OPEN  */

.timeline {
  position: fixed;
  bottom: 0px;
  left: calc(50% - calc(1300px / 2));
  height: 140px;
  width: 1300px;
  overflow: hidden;
}

.linesmall {
  position: relative;
  top: 100px;
  float: left;
  width: 2px;
  height: 50px;
  background-color: white;
  margin-left: 5%;
}

.linebig {
  position: relative;
  top: 60px;
  float: left;
  width: 2px;
  height: 100px;
  background-color: white;
  margin-left: 5%;
}

.linebig p {
  position: relative;
  top: -50px;
  left: -150px;
  width: 300px;
  text-align: center;
  font-size: 1.4rem;
}

/*  TIMELINE CLOSE  */

/* TYPO */

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  font-weight: 500;
  margin: 0px;
  letter-spacing: 0.04rem;
}

h2 {
  line-height: 2.1rem;
  margin-top: 7px;
  margin-bottom: 40px;
}

h3 {
  color: #fff;
  font-family: "Gibson-Regular";
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/* TYPO CLOSE */

img {
  max-width: 100%;
  display: block;
}

/* BRIEF VIEW */

.sticky-container {
  margin-top: 1500px;
  position: sticky;
  top: 50%;
  width: 100%;
  background-color: transparent;
  z-index: 125;
  display: flex;
  justify-content: space-between;
}

.brief_view {
  width: 100vw;
  margin: 0px -100px 0px -100px;
  height: auto;
  overflow: hidden;
  z-index: 150;
  position: relative;
}

.meta {
  display: flex;
  padding: 250px 200px;
  width: 100%;
  justify-content: center;
  position: relative;
}

.meta-beschreibung {
  float: left;
  margin: 200px 20px;
}

.meta .name {
  margin-bottom: 0px;
}
.portrait {
  width: 400px;
  margin: 20px;
}

.sender {
  text-align: right;
}

.empfänger .portrait {
  float: left;
}

.arrow_send {
  width: 50px;
  margin: 20px;
  position: relative;
  transform: rotate(180deg);
}

.small-icon {
  position: relative !important;
  height: inherit !important;
  left: 0 !important;
  top: 0 !important;
  display: block !important;
  float: left;

  width: 24px !important;
  /* transform: rotate(180deg); */
  margin: 8px 8px 8px 0px;
}
.icon-swipe {
  width: 24px;
}
.postfach {
  display: flex;
  align-items: center;
}
.postfach .small-icon {
  margin-left: 10px;
}
.digitalisate {
  width: 800px;
}

.digitalisate img {
  margin-bottom: 20px;
  width: 100%;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.65));
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.65));
}

.vergleichs-ansicht {
  transition-delay: 0.2;
  transition: all ease-in-out 0.4s ;
}

.leseansicht-true .vergleichs-ansicht {
  opacity: 0.3;
}


.brieftext {
  width: 800px;
}

.kuvert {
  color: #fff;
  font-size: 2rem;
  line-height: 2.4rem;
}

.kuvert .small,
.kuvert small {
  font-size: 1.4rem;
  line-height: 1.5rem;
  line-height: 1.5rem;
}

.kuvert .xsmall {
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.vergleichs-ansicht .vertical-links {
  display: block;
  transform: rotate(90deg);
  position: relative;
  left: -395px;
  top: -400px;
}

.vergleichs-ansicht,
.detail-ansicht {
  color: #000;
}

.page {
  background-color: #fff;
  margin-bottom: 30px;
}


.tapbar {
  position: fixed;
  width: 100%;
  background: #000;
  height: 125px;
  display: flex;
  z-index: 450;
  justify-content: center;
  align-items: center;
  animation-name: slide-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  animation-timing-function: cubic-bezier(0, 1);
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 120%); */
}

.tapbar a{
  display: flex;
  width: 550px;
  height: 100%;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.4;
  transition: all ease-in-out 0.2s;
}

.tapbar a:hover, .tapbar a.active {
 background: #141414;
 opacity: 1;
 text-decoration: none;
 
}
.tapbar label{
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-family: "Gibson-Regular";

}

.tapbar p{
  font-size: 0.9rem;

}

.tapbar img{
  height: 45px;
  margin-left: 35px;
  margin-right: 35px;
}

.tapbar a:first-of-type{
  text-align: right;
}

.player {
  position: fixed;
  width: 500px;
  right: 15px;
  padding-bottom: 20px;
  z-index: 451;
  justify-content: center;
  bottom: -200px;
  transition: bottom 0.5s ease-in-out ;

  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 120%); */
}

.player.active{
  bottom: 0px;

}

@keyframes slide-in {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0px;
  }
}


.player-container {
  display: flex;
  justify-content: space-between;
}

.player #waveform {
  bottom: 0px;
  width: 400px;
  padding: 11px 0px 0px 0px;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  height: 70px;
}

.player .controls {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
} 

.player .controls div{
  height: 70px;
  width: 70px;
  opacity: 0;
  display: none;
  align-items: center;
  justify-content: center;
}


.player .controls div img{
  height: 25px;
  

}

.player .controls div.active{
  background: #141414;
  opacity: 1;
  display: flex;
}

.vergleichs-ansicht {
  font-family: 'baskerville';
  line-height: 1.6rem;
  letter-spacing: 0px;
  font-size: 1rem;
    left: 0px;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
}


.vergleichs-ansicht .serif{
  font-family: 'baskerville';
}


.vergleichs-ansicht .sans{
  font-family: "Gibson-Light";
  /* font-size: 80%; */
}

.vergleichs-ansicht .persName{
  font-family: "Gibson-Light";
  /* font-size: 80%; */

}

.vergleichs-ansicht .corr,
.vergleichs-ansicht .stellenerläuterungen {
  display: none;
}

.vergleichs-ansicht .ex {
  display: none;}


.vergleichs-ansicht .abbr + .expan{
  display: none;
}


.vergleichs-ansicht .g\.enc\.tagsdecl\.cc\.abbr-sup-am + .expan{
  display: none;
}


.vergleichs-ansicht blockquote {
  margin: 0px;
}


.vergleichs-ansicht .gap-x {
  font-size: 70%;
}

.vergleichs-ansicht .unclear + .unclear {
  display: none;
}


.enc\.tagsdecl\.indent-verysmall  {
  text-indent: 10px;
}

.enc\.tagsdecl\.indent-small  {
  text-indent: 20px;
}


.enc\.tagsdecl\.indent-medium, .vergleichs-ansicht .indent-medium, .indent-medium   {
  text-indent: 30px;
}



.enc\.tagsdecl\.indent-large  {
  text-indent: 60px;
}


.indent-negativ {
  margin-left: -25px;
}

.unclear{
  color: #666;
}


.text-right {
  text-align: right;
  padding-right: 100px;
  display: block;
}


.normalisiert .text-right {
  padding-right: 0px;
  }


.vergleichs-ansicht .text-center {
  display: block;
  text-align: center;
}
.vergleichs-ansicht .signed {
  text-align: left;
  margin-top: 10px;
  margin-right: 100px;
  padding-left: 430px;
}

.normalisiert .signed {
  text-align: left;
  margin-top: 10px;
  margin-right: 100px;
  padding-left: 430px;
}

.small-adress {
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-bottom: 0px;
  display: block;
}

.vergleichs-ansicht .page-small {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.vergleichs-ansicht .page-large {
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.vergleichs-ansicht .dateline {
  text-align: right;
  padding-right: 50px;
}

table {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-left: 100px;
}


.detail-ansicht {
  width: 100%;
  margin: 0 auto;
}

.normalisiert {
  width: 800px;
  position: relative;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6rem;
  /* line-height: inherit; */
}


.normalisiert .page {
  height: unset !important;
}

.normalisiert .page span, .normalisiert .page div{
  margin: 0 !important;
}

.normalisiert .page p{
  margin-bottom: 7px;
}

.normalisiert .abbr{
  display: none;
}

.normalisiert .overwritten{
  display: none;
}
.normalisiert .strike-through{
  display: none;
}

.normalisiert .strikethrough{
  display: none;
}

.normalisiert .unclear{
  display: none;
  color: pink;
}

.normalisiert .orig,
.normalisiert .page br {
  display: none;
}


.normalisiert .page br.bn {
  display:initial;
}
/* 
.normalisiert .kuvert {
  padding-bottom: 100px !important;
} */

.normalisiert .page {
  padding: 140px 90px 140px 90px !important;
}

.normalisiert .corr {
  display: inline;
}

.normalisiert .page span .corr.spacing {
  display: block;
  margin: unset !important;
}

.normalisiert sup {
  font-size: inherit;
  vertical-align: unset;
}

.normalisiert span {
  text-decoration: none !important;
}

.normalisiert .page div.dateline{
  margin-bottom: 20px !important;
  text-align: right;
}

.normalisiert .makierung {
  /* background: rgb(219, 219, 219); */
  /* text-shadow: 0px 2px 20px rgb(50, 50, 50), 0px 2px 30px rgb(50, 50, 50), 0px 2px 40px #000, 0px 2px 50px #000; */
  border-bottom: 2px dotted black;
  /* display: inline-block; */
}


.normalisiert .vertical-links {
  width: unset !important;
  height: unset !important;
  top: unset !important;
  left: unset !important;
  /* display: block; */
  position: relative;
}

.normalisiert .strike-through{
  display: none !important;
}

.stellenerläuterungen.null {
  opacity: 0;
  animation-delay: 1s;
}

.stellenerläuterungen.activ {
  opacity: 1;
}
.stellenerläuterungen {
  color: #fff;
  position: absolute;
  top: 100px;
  left: -500px;
  width: 450px;
  text-align: right;
  transition: 1s ease;
}

.stellenerläuterung {
  position: absolute;
  width: 100%;
}


.stellenerläuterungen hr {
  width: 40px;
  position: absolute;
  right: -50px;
  border: 1px solid #fff;
  margin-top: 10px;
}

.stellenerläuterungen label {
  font-size: 1rem;
  line-height: 1.3rem;
  margin-top: 0px;
  display: block;
}

.stellenerläuterungen p {
  margin-top: 2px;
  font-size: 0.8rem;
  line-height: 1rem;
  display: block;
  opacity: 0.7;

}

.push-right{
  left: unset;
  right: -1350px;
  text-align: left;
}

.stellenerläuterungen .push-right hr{
  left: -50px;
  right: auto;
}

.themen {
  position: fixed;
  right: calc(-100% + 450px);
  /* transform: ; */
  top: 200px;
  z-index: 105;
  height: calc(100% - 400px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.themen img {
  height: 300px;
  opacity: 0.5;
}

.themen label {
  display: block;
  margin: -30px 0px 35px 15px;
  opacity: 1;
  z-index: 201;
  position: relative;
}

.themen a {
  display: block;
  transition: 0.2s ease-in-out;
}

.themen a.activ {
  transform: translateX(-50px);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.themen .activ img {
  opacity: 1;
}

.themen a:hover {
  text-decoration: none;
}



.themenmakierung-active .page {
  /* background-color: #aaa; */
  color: rgb(212, 212, 212);
  transition: all ease-in-out 0.3s;
}

.themenmakierung-active .page .border-bottom{
  border-color: rgb(212, 212, 212);
}
.normalisiert .page  {
  transition: all ease-in-out 0.3s;
}

.themenmakierung-active .makierung {
  background: transparent;
  color: inherit;
  border-color: rgb(212, 212, 212);
}

.religion,
.liebe,
.reisen {
  transition: all ease-in-out 0.5s;
}

.religion-active .religion,
.liebe-active .liebe,
.reisen-active .reisen,
.business-active .business,
.musik-active .musik,
.politik-active .politik {
  color: #000;
}
.themenmakierung-active .stellenerläuterungen {
  /* opacity: 0.1; */
  transition: all ease-in-out 0.5s;
} */

p > span .latin {
  font-family: "Gibson-Regular";
  /* color: red; */
  font-size: 90%;
}


.g\.rend\.script\.latin {
  font-family: "Gibson-Light";
  /* opacity: 0.8;*/
  font-size: 95%; 
}

.headingNumber {
  display: none;
}


/* .vergleichs-ansicht .expan::after {
  content: ".";
  display: inline;
} */


.vergleichs-ansicht  .g\.enc\.tagsdecl\.suspension\.type1 + .expan{
  display: none;
}

.normalisiert  .g\.enc\.tagsdecl\.suspension\.type1{
  display: none;
}


.vergleichs-ansicht .g\.enc\.tagsdecl\.suspension\.type1 + .expan + .expan{
  display: none;
}

.vergleichs-ansicht .g\.enc\.tagsdecl\.suspension\.type1 + .expan:after {
  /* color: red; */
  content: "ƺ";
  display: inline;
}

.vergleichs-ansicht .g\.enc\.tagsdecl\.suspension\.type1:after {
  /* color: red; */
  content: "ƺ";
  display: inline;
}

.g\.enc\.tagsdecl\.suspension\.type2 {
  display: none;
}

.vergleichs-ansicht .g\.enc\.tagsdecl\.suspension\.type2:after {
  /* color: green; */
  content: "ℓ.";
  display: inline;
}

 .detail-ansicht .g\.enc\.tagsdecl\.suspension\.type3 {
  display: none;
}

.vergleichs-ansicht .g\.enc\.tagsdecl\.suspension\.type3:after {
  /* color: blue; */
  content: "∮.";
  display: inline;
}


.vergleichs-ansicht .insertion{
  text-decoration: underline;
}

.vergleichs-ansicht .underline{
  border-bottom: 1px solid rgb(49, 49, 49) ;
}


.vergleichs-ansicht br ::before{
  content: "⹀";
  display: inline;
}




.vergleichs-ansicht .overwritten{
  font-size: 80%;
}

.vergleichs-ansicht .overwritten + .add{
  font-weight: 600;
}



.vergleichs-ansicht .g\.enc\.tagsdecl\.cc\.abbr-colon + .expan{
  display: none;
}




.vergleichs-ansicht .oberzeichen{
  display:  inline-block;
  margin-right: -8px;
  transform: translateY(-5px);
}





.normalisiert .hide-doublehypen{
  display: none;
}

.normalisiert .g\.enc\.tagsdecl\.cc\.abbr-colon{
  display: none;
}


.normalisiert .g\.enc\.tagsdecl\.cc\.abbr-sup-am{
  display: none;
}


.normalisiert .g\.enc\.tagsdecl\.cc\.abbr-sup-am + .expan::before {
  content: " ";
  display: inline;
}


.normalisiert .glyph{
  display: none;
}


.normalisiert .insertion{
  display: none;
}


.normalisiert .oberzeichen{
  display: none;
}
.normalisiert .hide-normalisiert{
  display: none;
}

.vergleichs-ansicht .hide-vergleichsansicht{
  display: none;
}

.strikethrough{
  text-decoration:line-through;
}

.border-bottom{
  margin-top: 10px;
  border-bottom: 2px solid black;
}


.vergleichs-ansicht .sup#txt\.add001::after, .vergleichs-ansicht .sup#txt\.add002::after{
  content: "⦦";
  font-weight: 100;
  margin-right: -4px;
  transform: rotate(0deg) translateY(2px) translateX(-6px) scale(1.8) scaleX(-1); 
  display: inline-block;
  color: #000
}

/* .g\.enc\.tagsdecl\.cc.abbr-sup-am */
/* .g\.enc\.tagsdecl\.cc\.abbr-colon-sup{}
  text-decoration: double;
} */

.vergleichs-ansicht .double-underline{
  text-decoration: underline;
  border-bottom: 1px double black;
}

.navigation {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  padding: 30px 100px;
  text-align: center;
}

.navigation a {
  margin: 0px 50px;
}

.toggle a {
  float: left;
}

/* BRIEF VIEW CLOSE */

/* brief wrapper sections */

.brief-container {
  width: 100vw;
}

.brief-scroll-container {
  width: 200vw;
  display: flex;
}

.tester {
  position: relative;
  top: 200px;
  left: 600px;
}

.buttontester {
  position: fixed;
  top: 200px;
  left: 600px;
  z-index: 100000;
}

.wrapper,
.inner {
  position: relative;
  width: 100px;
  height: 100px;
  color: aquamarine;
  opacity: 0.8;
}

.bouncingball p {
  margin-top: 25px;
  opacity: 0.8;
}

.bouncingball:nth-of-type(2) .ball {
  margin-left: 60px;
}

.ballStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background-color: #fff;
  /* border: 10px solid #fff; */
  width: 60px;
  height: 60px;
  border-radius: 5rem;
  box-shadow: 0px 0px 55px 15px #3b3b3b;
}

.icon-swipe {
  /* margin-top: 2px; */
  display: block;
}

.swipewrapper {
  width: 100vw;
  display: flex;
}


.vergleich-l {
  z-index: 2;
  transition: transform ease-in-out 0.5s;
}

.vergleich-r, .orte  {
  transition: transform ease-in-out 0.5s;
}

.themen{
  animation-delay: 0.3s;
  transition: transform ease-in-out 0.5s;
}

.vergleich-l,
.vergleich-r {
  width: 800px;
}

.detail {
  position: absolute;
  /* left: calc( 100% - 200px ); */
  left: 78%;
  width: 100%;
  height: 100%;
  z-index: 104;
  transition: transform ease-in-out 0.5s;
}

.detail-view {
  width: 800px;
  height: 100%;
  background: #fff;
  margin: 0 auto;
}

/* Brief handle bar */
.handlebar {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  border-radius: 15px;
  z-index: 3000;
  /* overflow: hidden; */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hellodiv {
  position: relative;
  height: 200px;
  width: 300px;
  background-color: brown;
}

.orte {
  width: 100vw;
  margin: 200px auto;
  display: flex;
  justify-content: center;
  position: relative;
  /* align-items: flex-end; */
}

.underline{
  text-decoration: underline;
}


.orte img {
  width: 800px;
  margin: 10px;
}

.orte h2 {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: unset;
}

.bildnachweis::before {
  content: "©";
  margin-right: 3px;
}
.bildnachweis {
  font-size: 1rem;
  align-self: flex-end;
  opacity: 0.8;
}

/* idle message */

.idle-window {
  position: fixed;
  z-index: 100000000;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
}

.idle-card {
  position: relative;
  width: 500px;
  height: 400px;
  justify-content: center;
}

.idle-card p,
.idle-card h1 {
  color: white;
}

/* Vergleichs Ansicht */
.vergleichs-ansicht .expan{
  display: none;
  
}

.vergleichs-ansicht .dateline-left{
  text-align: left;
  margin-left: 0px;
  text-indent: 0px;
}

.vergleichs-ansicht .signed-right{
  text-align: right;
  margin-top: -30px;
  margin-right: 100px;
  padding-left: 430px;
}

.vergleichs-ansicht .signed-space{
  text-align: left;
  margin-right: 100px;
  padding-left: 390px;
}

.vergleichs-ansicht .signed-morespace{
  text-align: left;
  margin-right: 100px;
  padding-left: 280px;
}


/* Detail Ansicht */
.detail-ansicht .lb-detail{
  display: block !important;  
}

.detail-ansicht .salute {
  padding-bottom: 10px;
}

.detail-ansicht .dateline-center {
  text-align: right;
  padding-right: 50px;
}

.detail-ansicht blockquote{
  margin-left: 0px;
}

.detail-ansicht .dateline-left{
  text-align: left;
  padding-top: 10px;
  margin-left: 0px;
  text-indent: 0px;
}

.detail-ansicht .signed-right{
  text-align: right;
  padding-top: -50px;
  margin-right: 100px;
  padding-left: 430px;
}

.detail-ansicht .signed-right-middle{
  text-align: right;
}

.detail-ansicht .gap{
  display:none;
}

.detail-ansicht sup{
  vertical-align:sup !important;
}






