@font-face {
  font-family: "Gibson-LightIt";
  src: url("../webfonts/2D7FB2_0_0.eot");
  src: url("../webfonts/2D7FB2_0_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/2D7FB2_0_0.woff2") format("woff2"),
    url("../webfonts/2D7FB2_0_0.woff") format("woff"),
    url("../webfonts/2D7FB2_0_0.ttf") format("truetype");
}
@font-face {
  font-family: "Gibson-BoldItalic";
  src: url("../webfonts/2D7FB2_1_0.eot");
  src: url("../webfonts/2D7FB2_1_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/2D7FB2_1_0.woff2") format("woff2"),
    url("../webfonts/2D7FB2_1_0.woff") format("woff"),
    url("../webfonts/2D7FB2_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "Gibson-Bold";
  src: url("../webfonts/2D7FB2_3_0.eot");
  src: url("../webfonts/2D7FB2_3_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/2D7FB2_3_0.woff2") format("woff2"),
    url("../webfonts/2D7FB2_3_0.woff") format("woff"),
    url("../webfonts/2D7FB2_3_0.ttf") format("truetype");
}
@font-face {
  font-family: "Gibson-Regular";
  src: url("../webfonts/2D7FB2_4_0.eot");
  src: url("../webfonts/2D7FB2_4_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/2D7FB2_4_0.woff2") format("woff2"),
    url("../webfonts/2D7FB2_4_0.woff") format("woff"),
    url("../webfonts/2D7FB2_4_0.ttf") format("truetype");
}
@font-face {
  font-family: "Gibson-SemiBold";
  src: url("../webfonts/2D7FB2_5_0.eot");
  src: url("../webfonts/2D7FB2_5_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/2D7FB2_5_0.woff2") format("woff2"),
    url("../webfonts/2D7FB2_5_0.woff") format("woff"),
    url("../webfonts/2D7FB2_5_0.ttf") format("truetype");
}
@font-face {
  font-family: "Gibson-Italic";
  src: url("../webfonts/2D7FB2_6_0.eot");
  src: url("../webfonts/2D7FB2_6_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/2D7FB2_6_0.woff2") format("woff2"),
    url("../webfonts/2D7FB2_6_0.woff") format("woff"),
    url("../webfonts/2D7FB2_6_0.ttf") format("truetype");
}
@font-face {
  font-family: "Gibson-Light";
  src: url("../webfonts/2D7FB2_7_0.eot");
  src: url("../webfonts/2D7FB2_7_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/2D7FB2_7_0.woff2") format("woff2"),
    url("../webfonts/2D7FB2_7_0.woff") format("woff"),
    url("../webfonts/2D7FB2_7_0.ttf") format("truetype");
}

@font-face {
  font-family: "Charter";
  src: local("Charter"),
    url("../webfonts/charter/charter_regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: "Charter";
  src: local("Charter Italic"),
    url("../webfonts/charter/charter_italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: "Charter";
  src: local("Charter Bold"),
    url("../webfonts/charter/charter_bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: "Charter";
  src: local("Charter Bold Italic"),
    url("../webfonts/charter/charter_bold_italic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;

  font-family: "Gibson-Light";
  font-size: 18px;
  font-weight: 500;
  color: #fff;

  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
  user-select: None;
}

.container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.static {
  display: block !important;
}

.alice {
  margin-top: 500px;
  margin: 200px auto;
  text-align: center;
}

.alice img {
  width: 400px;
  margin: 0 auto;
}
/* SCROLLBAR REMOVE */

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

/* Optional:  scrollbar unten
::-webkit-scrollbar-thumb {
  background: #fff;
} */

/* SCROLLBAR REMOVE CLOSE */

/* NAVIGATION OPEN */

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 200;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 90%);
  padding-bottom: 150px;
}

.menu_left img {
  margin: 50px;
  width: 65px;
  height: auto;
}

.menu_right a {
  display: block;
  float: left;
  margin: 50px;
  font-size: 2.5rem;
  opacity: 0.75;
}

.menu_right a:hover,
.active {
  text-decoration: none;
  opacity: 1;
}

/* NAVIGATION CLOSE*/

/* MAIN CONTENT AREA - SCROLLABLE AREA */

main {
  position: absolute;
  top: 150px;
  width: 100%;
  height: auto;
  padding: 0px 100px;
}

.gardient {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100vh;
  z-index: 100;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.right {
  position: fixed;
  left: auto;
  right: 0px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.scrollable {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
}

.change-log {
  margin: 200px;
}

/*  MAIN CLOSE  */

.item:nth-of-type(2n) {
  padding-top: 300px;
}

.item_preview {
  position: relative;
  margin: 150px 50px;
  width: 800px;
  height: 300px;
}

.item_preview img {
  width: 350px;
  position: absolute;
  left: 0px;
  top: 0px;

  -webkit-filter: drop-shadow(0px 0px 45px rgba(0, 0, 0, 0.35));
  filter: drop-shadow(0px 0px 45px rgba(0, 0, 0, 0.35));
}


.item_preview img:first-of-type {
  z-index: 5;
  left: 0px;
  top: 0px;
}

.item_preview img:nth-of-type(2) {
  z-index: 4;
  left: -20px;
  top: -20px;
}

.item_preview img:nth-of-type(3) {
  z-index: 3;
  left: -40px;
  top: -40px;
}
.item_preview img:nth-of-type(4) {
  z-index: 2;
  left: -60px;
  top: -60px;
}

.item_preview img:nth-of-type(5) {
  z-index: 1;
  left: -80px;
  top: -80px;
}

.item_preview img:nth-of-type(6), .item_preview img:nth-of-type(7), .item_preview img:nth-of-type(8) {
 display: none;
}


.item_description {
  position: absolute;
  top: 75px;
  left: 400px;
  display: block;
  clear: both;
}

/*  TIMELINE OPEN  */

.timeline {
  position: fixed;
  bottom: 0px;
  left: calc(50% - calc(1300px / 2));
  height: 140px;
  width: 1300px;
  overflow: hidden;
}

.linesmall {
  position: relative;
  top: 100px;
  float: left;
  width: 2px;
  height: 50px;
  background-color: white;
  margin-left: 5%;
}

.linebig {
  position: relative;
  top: 60px;
  float: left;
  width: 2px;
  height: 100px;
  background-color: white;
  margin-left: 5%;
}

.linebig p {
  position: relative;
  top: -50px;
  left: -150px;
  width: 300px;
  text-align: center;
  font-size: 1.4rem;
}

/*  TIMELINE CLOSE  */

/* TYPO */

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  font-weight: 500;
  margin: 0px;
  letter-spacing: 0.04rem;
 
}


h2 {
  line-height: 2.1rem;
  margin-top: 7px;
  margin-bottom: 40px;
}

h3{
  color: #fff;
  font-family: "Gibson-Regular";
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
p {
  line-height: 1.3rem;
}

/* TYPO CLOSE */

img {
  max-width: 100%;
  display: block;
}

/* BRIEF VIEW */

.brief_view {
  width: 100vw;
  margin: 0 -100px;
  height: auto;
  overflow-x: hidden;
  z-index: 150;
  position: relative;
}

.meta {
  display: flex;
  padding: 250px 200px;
  width: 100%;
  justify-content: center;
}

.meta-beschreibung{
  float: left;
  margin: 200px 20px;
}

.meta .name{
  margin-bottom: 0px;
}
.portrait {
  width: 400px;
  margin: 20px;
}

.sender {
  text-align: right;
}

.empfänger .portrait{
  float: left;
}

.arrow_send {
  width: 50px;
  margin: 20px;
  position: relative;
  transform: rotate(180deg);
}

.digitalisate {
  width: 800px;  

}

.digitalisate img{
  margin-bottom: 20px;
  width: 100%;

  -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.65));
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.65));

}

.brieftext {
  width: 800px;
}

.kuvert {
  color: #fff;
  font-size: 2rem;
  line-height: 2.4rem;
}

.kuvert small {
  font-size: 1.4rem;
}

.vergleichs-ansicht, .detail-ansicht {
  color: #000;
} 

.page {
  background-color: #fff;
  margin-bottom: 20px;
}

.player {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  z-index: 300;
  justify-content: center;
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 120%); */

}

.player .app {
  position: fixed;
  bottom: 0px;
  width: 600px;
  padding: 20px 30px 0px 30px;
  background-color: rgba(0, 0, 0, 0.75);
  height: 90px;


}

.player .controls {
  position: absolute;
  right: -90px;
  bottom: 0px;
  height: 90px;
  padding: 35px 35px 0px 35px;

  background-color: #000;

  
}
/* 
#waveform{
  display: flex;


}

 */


.vergleichs-ansicht {
  font-family: "Charter";
  line-height: 1.4rem;
  letter-spacing: 0.1px;
  font-size: 0.9rem;
}

.vergleichs-ansicht .corr, .vergleichs-ansicht .stellenerläuterungen {
  display: none;
}




.detail-ansicht {
  width: 100%;  
  margin: 0 auto;
}

.normalisiert {
  width: 800px;
  position: relative;
  margin: 0 auto;
}

.normalisiert .page {
    padding-top: 100px !important;
    padding-left: 80px !important;
    padding-right: 50px !important;
    padding-bottom: 100px !important;
}
.normalisiert .orig,
.normalisiert .page br {
  display: none;
}

.normalisiert .kuvert{
  padding-bottom: 100px !important;
}

.normalisiert .corr {
  display: inline;
}

.normalisiert span{
  text-decoration: none !important;
}

.normalisiert .makierung {
  background: rgb(219, 219, 219);
  padding: 2px 7px;
  margin: -2px 2px;
  display: inline-block;
}

.stellenerläuterungen {
  color: #fff;
  position: absolute;
  top: 100px;
  left: -450px;
  width: 400px;
  text-align: right;
}

.stellenerläuterung {
  position: absolute;
  width: 100%;
}

.stellenerläuterungen hr {
  width: 40px;
  position: absolute;
  right: -50px;
  border: 1px solid #fff;
}

.stellenerläuterungen p {
  margin-top: 5px;
  font-size: 0.8rem;
}

.themen {
  position: fixed;
  right: calc( -100% + 200px);
  /* transform: ; */
  top: 200px;
  z-index: 2000;
}

.themen img {
  height: 300px;
  opacity: 0.5;
}

.themen label {
  display: block;
  margin: -30px 0px 35px 15px;
  opacity: 1;
  z-index: 201;
  position: relative;
}

.themen a {
  display: block;
  transition: 0.2s ease-in-out;
}

.themen a:hover {
  transform: translateX(-100px);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.themen a:hover img {
  opacity: 1;
}

.page {
  transition: all ease-in-out 0.5s;
}

.themenmakierung-active .page{
  background-color: #0a0a0a;
  color: #0a0a0a;
}

.themenmakierung-active .makierung{
    background: transparent;
    color: inherit;
}


.religion, .liebe-ehe, .reisen{
  transition: all ease-in-out 0.5s;

}

.religion-active .religion, .liebe-active .liebe, .reisen-active .reisen{
  color: #fff;
  
}
.themenmakierung-active .stellenerläuterungen {
  opacity: 0.1;
  transition: all ease-in-out 0.5s;

}

p > span .latin {
  font-family: "Gibson-Regular";
  color: red;
}

.writing-session .g\.rend\.script\.latin {
  font-family: "Gibson-Regular";
}

.headingNumber {
  display: none;
}

.g\.enc\.tagsdecl\.suspension\.type1 {
  color: red;
  display: none;
}

.navigation {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  padding: 30px 100px;
  text-align: center;
}

.navigation a {
  margin: 0px 50px;
}

.toggle a {
  float: left;
}

/* BRIEF VIEW CLOSE */

/* brief wrapper sections */

.brief-container {
  width: 100vw;
}

.brief-scroll-container {
  width: 200vw;
  display: flex;
}

.tester {
  position: relative;
  top: 200px;
  left: 600px;
}

.buttontester {
  position: fixed;
  top: 200px;
  left: 600px;
  z-index: 100000;
}

.wrapper, .inner {
  position: relative;
  width: 100px;
  height: 100px;
  color: aquamarine;
  opacity: 0.8;
}


/* 
.high {
  z-index: 1000000;
  position: relative;
  left: 400px;
  float: left;
} */
/* 
.passiv {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: aquamarine;
} */

/* .linktest {
  position: relative;
  top: 10px;
  left: 200px;
}
 */


.swipewrapper{
  width: 100vw;
  height: 2800px;
  display: block;
  position: relative;
}


.vergleich{
  position: absolute;
  left: 0px;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}
.vergleich-l{
  z-index: 2;
}

.vergleich-l, .vergleich-r{
  width: 800px;
}

.detail {
  position: absolute;
  /* left: calc( 100% - 200px ); */
  left: 78%;
  width: 100%;
  height: 100%;
}

.detail-view{
  width: 800px;
  height: 100%;
  background: #fff;
  margin: 0 auto;
}


/* Brief handle bar */
.handlebar {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  opacity: 0;
  border-radius: 15px;
  z-index: 3000;

}

/* bouncing ball */
.bouncingball-right {
  position: fixed;
  left: 95%;
  top: 50vh;
  width: 200px;
  z-index: 1000000000000;
}

.bouncingball-left {
  position: fixed;
  left: -7%;
  top: 50vh;
  width: 200px;
  z-index: 1000000000000;
}

.orte{
  margin-top: 0px;
  margin-bottom: 200px;
  display: flex;
 justify-content: center;
 /* align-items: flex-end; */
}

.orte img{
  width: 800px;
  margin: 10px;
}

.orte h2 {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: unset;

}

.bildnachweis::before{
 content: "©";
 margin-right: 3px;
}
.bildnachweis{
  font-size: 1rem;
  align-self: flex-end;
  opacity: 0.8;
}