
.menu_right a{
  padding: 25px;
}





.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.strike {
  text-decoration: line-through;
  color: #666 !important;
}

.innerSection {
  max-width: 36rem;
  left: 25%;
  position: relative;
}

.picture {
  max-width: 36rem;
}











.item:nth-of-type(2n){
  padding-top: 300px;
}


.brief_preview {
  position: relative;
  margin: 150px 50px;
  width: 800px;
  height: 300-px;
}


.brief_preview img:first-of-type{
  z-index: 2;
  left: 20px;
  top: 20px;
}



.brief_preview img{
  width: 350px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.brief_preview div{
  cursor: pointer;
}

.brief_preview img:first-of-type{
  z-index: 2;
  left: 20px;
  top: 20px;
}



.post_description{
  position: absolute;
  top: 75px;
  left: 400px;
  display: block;
  clear: both;
}



.static {
  display: block !important;
}






.post {
  display: inline;
}

.post_description_title {
  font-size: 1.5rem;
}


.brief_preview:nth-child(2n){
  padding-top: 300px;
}

.briefcontainer{
  max-width: 1500px;
  margin: 0 auto;
}

.brieftext{
  width: 50%;
  float: left;
  padding: 20px;
}


.digitalisate{ 
  width: 50%;
  float: left;
  padding: 20px;

}

.meta{
  padding: 300px;
  width: 100%;

}
