
.post {
  display: inline;
}

.post_description_title {
  font-size: 1.5rem;
}


.brief_preview:nth-child(2n){
  padding-top: 300px;
}

.brief_view{
  max-width: 1500px;
  margin: 0 auto;
}

.brieftext{
  width: 50%;
  float: left;
  padding: 20px;
}


.digitalisate{ 
  width: 50%;
  float: left;
  padding: 20px;

}

.meta{
  padding: 300px;
  width: 100%;

}
